* {
  font-family: "Roboto", sans-serif;
}

body, html{
  background-color: #aaa;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  position: relative;
  /* Transition for the webapp */
  -webkit-transition: background-color 1s; /* Safari */
  transition: background-color 1s;
}

.google {
  background-image: url(images/google.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  position: fixed;
  width: 80%;
  margin-left: 10%;
  top: 50%;
  margin-top: -120px;
  height: 200px;
}

.footer {
  font-weight: 400;
  color: white;
  font-size: 13px;
  padding: 36px 24px 24px 24px;
}
.footer img {
  vertical-align: middle;
  margin: 0px 12px;
}
.instructions{
  text-align: center;
  padding: 30px;
  font-size: 36px;
  color: white;
}

.debug{
  text-align: center;
  color: #fff;
}

/* Spinner */
.spinner{
  position: absolute;
  z-index: 99;
  left: calc((100% - 100px)/2);
  width: 100px;
  height: 100px;
  -webkit-animation:spin 1s linear infinite;
  -moz-animation:spin 1s linear infinite;
  animation:spin 1s linear infinite;
}

.inside-spinner{
  display: none;
  -webkit-animation:spin 1s linear infinite;
  -moz-animation:spin 1s linear infinite;
  animation:spin 1s linear infinite;
}

/* Spinner animations */
@-moz-keyframes spin { 100% { -moz-transform: rotate(-360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(-360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(-360deg); transform:rotate(-360deg); } }

/* Color Picker */

.color-picker{
    text-align: center;
    width: 100%;
    margin: auto;
    left: 0px;
    right: 0px;
    position: absolute;
    bottom: 0px;
}
.color-picker .wrapper {
  background: white;
  position: relative;
  display: inline-block;
  margin: 0px auto;
  padding: 12px 24px;
  border-radius: 100px;
  box-shadow: 0px 3px 4px rgba(0,0,0,.2);
}

.color{
    border-radius: 50%;
    box-shadow: 0px 3px 4px rgba(0,0,0,.2);
    width: 48px;
    height: 48px;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    transition: all .2s ease-in-out;
    margin-left: 4px;
}

  @media (min-width: 315px){
    .color{
      width: 48px;
      height: 48px;
    }
  }

  @media (min-width: 449px) {
    .color:not(.play){
      width: 45px;
      height: 45px;
    }
  }

.color.play{
  width: 15%;
  height: 30%;
  box-shadow: 0px 0px 0px black;
  top: 37%;
  left: 43.5%;
  position: absolute;
}

@media screen and (max-width: 425px) {
  .color.play{
    
  }
}

.color .icon{
  height: 100%;
  width: 100%;
}

.green{
  /*Hex: #3cba54*/
  background-color: rgb(60, 186, 84);
}

.yellow{
  /*Hex: #f4c20d*/
  background-color: rgb(244, 194, 13);
}

.red{
  /*Hex: #db3236*/
  background-color: rgb(219, 50, 54);
}

.blue{
  /*Hex: #4885ed*/
  background-color: rgb(72, 133, 237);
}

.off{
  background-color: #aaa;
}
